<div class="orange-container">
  <div class="ng-calculator">
    <app-display-number [displayValue]=displayValue></app-display-number>
    <div class="calc-buttons">
      <div class="calc-button"><button class="btn faded ac" (click)="clearNumber()">AC</button></div>
      <div class="calc-button"><button class="btn faded plus-minus"(click)="clickPlusMinus()">+/-</button></div>
      <div class="calc-button"><button class="btn faded" (click)="clickPercent()">%</button></div>
      <div class="calc-button"><button class="btn faded divide" [class.active]="activeOperator == 'divide'" (click)="operation('divide')">&#247;</button></div>
      <div class="calc-button"><button class="btn" (click)="clickNumber(7)">7</button></div>
      <div class="calc-button"><button class="btn" (click)="clickNumber(8)">8</button></div>
      <div class="calc-button"><button class="btn" (click)="clickNumber(9)">9</button></div>
      <div class="calc-button"><button class="btn faded" [class.active]="activeOperator == 'multiply'" (click)="operation('multiply')">x</button></div>
      <div class="calc-button"><button class="btn" (click)="clickNumber(4)">4</button></div>
      <div class="calc-button"><button class="btn" (click)="clickNumber(5)">5</button></div>
      <div class="calc-button"><button class="btn" (click)="clickNumber(6)">6</button></div>
      <div class="calc-button"><button class="btn faded" [class.active]="activeOperator == 'add'" (click)="operation('add')">+</button></div>
      <div class="calc-button"><button class="btn" (click)="clickNumber(1)">1</button></div>
      <div class="calc-button"><button class="btn" (click)="clickNumber(2)">2</button></div>
      <div class="calc-button"><button class="btn" (click)="clickNumber(3)">3</button></div>
      <div class="calc-button"><button class="btn faded" [class.active]="activeOperator == 'minus'" (click)="operation('minus')">−</button></div>
      <div class="calc-button double"><button class="btn" (click)="clickNumber(0)">0</button></div>
      <div class="calc-button"><button class="btn" (click)="clickDot()">.</button></div>
      <div class="calc-button"><button class="btn faded" (click)="clickEqual()">=</button></div>
    </div>
  </div>
</div>