.display-number {
    background-color: rgba(0,0,0,0.1);
    height:70px;
    border-radius:50px;
    text-align: right;
    padding:15px 30px;
    color:#fff;
    font-size:35px;
    margin:0 10px 20px;
    font-weight:400;
    font-family: 'Fjalla One', sans-serif;
}