/* You can add global styles to this file, and also import other style files */
@import '~normalize.css/normalize.css';
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    font-family:'Oswald', sans-serif;
}
